@model List<RecordListWithRelationsViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<section class="content">
    <div class="container-fluid">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">İşlemler</h3>
                <div class="card-tools">
                    <button type="button" onclick="CreateRecord()" class="btn btn-outline btn-success" data-card-widget="collapse">
                        Ekle
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-bordered table-hover table-sm dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Atık Tarihi</th>
                            <th class="text-center">Ay</th>
                            <th class="text-center">Mağaza</th>
                            <th class="text-center">Atık Tipi</th>
                            <th class="text-center">Atık Çeşidi</th>
                            <th class="text-center">Miktar</th>
                            <th class="text-center">Birim</th>
                            <th class="text-center">Teslim Alan Firma</th>
                            <th class="text-center">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">6389</td>
                            <td class="text-center">-</td>
                            <td class="text-center">ŞUBAT</td>
                            <td class="text-center">AKSARAY</td>
                            <td class="text-center">ÇÖP</td>
                            <td class="text-center">ŞARAPLAR</td>
                            <td class="text-center">1</td>
                            <td class="text-center">ADET</td>
                            <td class="text-center">ÇÖP-BELEDİYE</td>
                            <td class="text-center"><button>...</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="createModal" data-toggle="modal" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" onclick="CloseModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Kayıt İşlemi</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ay*</label>
                                    <select id="mount" class="form-select" required placeholder="Seçiniz">
                                        <option value="-1">Seçiniz</option>
                                        <option value="Ocak">Ocak</option>
                                        <option value="Şubat">Şubat</option>
                                        <option value="Mart">Mart</option>
                                        <option value="Nisan">Nisan</option>
                                        <option value="Mayıs">Mayıs</option>
                                        <option value="Haziran">Haziran</option>
                                        <option value="Temmuz">Temmuz</option>
                                        <option value="Ağustos">Ağustos</option>
                                        <option value="Eylül">Eylül</option>
                                        <option value="Ekim">Ekim</option>
                                        <option value="Kasım">Kasım</option>
                                        <option value="Aralık">Aralık</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mağaza*</label>
                                    <select id="store" class="form-select" required placeholder="Seçiniz">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Atık Tipi*</label>
                                    <select id="wasteType" class="form-select" required placeholder="Seçiniz">
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Atık Çeşidi*</label>
                                    <select id="kindOfWaste" class="form-select" required placeholder="Seçiniz">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Miktar*</label>
                                    <input type="text" id="quantity" class="form-control" required />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Birim*</label>
                                    <select id="unit" class="form-select" required placeholder="Seçiniz">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Teslim Alan Firma*</label>
                                    <select id="receivingCompany" class="form-select" required placeholder="Seçiniz">
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Atık Tarihi*</label>
                                    <input id="wasteDate" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("dd.MM.yyyy hh:mm")">
                                </div>
                            </div>
                        </div>

                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Türkçe
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        English
                                    </label>
                                </div>

                            </div>
                        </div>


                        <div class="row col-md-12">
                            <label>İçerik*</label>
                            <textarea id="content" class="form-control" rows="5" cols="33"></textarea>
                        </div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <button type="button" onclick="CloseModal()" class="btn btn-danger">Kapat</button>
            </div>
        </div>
    </div>


</div>





<script>
    function CreateRecord() {
        $("#createModal").toggle();

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetInformations","Home")',

            success: function(data) {
                var response = JSON.parse(data);

                let txtStore = "";
                $.each(response.Stores, function(index, value) {
                    txtStore += "<option value='" + value.Id + "'>" + value.Name + "</option>";
                });
                $("#store").append(txtStore);

                let txtWasteType = "";
                $.each(response.wasteTypes, function(index, value) {
                    txtWasteType += "<option value='" + value.Id + "'>" + value.Description + "</option>";
                });
                $("#wasteType").append(txtWasteType);

                let txtKindOfWastes = "";
                $.each(response.KindOfWastes, function(index, value) {
                    txtKindOfWastes += "<option value='" + value.Id + "'>" + value.Description + "</option>";
                });
                $("#kindOfWaste").append(txtKindOfWastes);

                let txtUnits = "";
                $.each(response.Units, function(index, value) {
                    txtUnits += "<option value='" + value.Id + "'>" + value.Description + "</option>";
                });
                $("#unit").append(txtUnits);

                let txtReceivingCompanies = "";
                $.each(response.ReceivingCompanies, function(index, value) {
                    txtReceivingCompanies += "<option value='" + value.Id + "'>" + value.Description + "</option>";
                });
                $("#receivingCompany").append(txtReceivingCompanies);

            }
        });
    }

    function CloseModal() {
        $("#createModal").toggle();
    }
</script>
